body {
  font-family: "Open Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chosenMonth {
  font-size: 32px;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.outputCalendar {
  display: flex;
}

.calendar-head {
  display: flex;
  margin: 20px auto 0 auto;
}
.add-vacation {
  width: 144px;
  height: 40px;
  border-radius: 7px;
  background-color: #48ba46;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  transition: all linear 0.2s;
  border: none;
  margin-right: 122px;
  cursor: pointer;
  color: #fff;
}

.add-vacation::before,
.add-vacation::after {
  content: "";
  display: block;
  width: 13px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 16px;
}

.add-vacation::before {
  transform: rotate(90deg);
}

.add-vacation:hover {
  background-color: #59df57;
}

.add-vacation:focus {
  border: none;
  outline: none;
}

.outputDay {
  border-bottom: none;
  border-left: none;
  padding: 5px;
  text-align: center;
  color: rgb(33, 33, 33);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.outputDate {
  text-align: center;
  color: rgb(56, 56, 56);
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}

.outputItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 34px;
  padding: 8px 6px;
  border: 1px solid rgb(192, 192, 192);
}

.outputItem:not(:first-of-type) {
  border-left: none;
}

.outputItem {
  border-bottom: none;
  border-top: none;
}

.headerDay {
  border-bottom: 1px solid rgb(192, 192, 192);
  border-top: 1px solid rgb(192, 192, 192);
}

.outputItem:not(:last-of-type) {
  border-bottom: 1px solid rgb(192, 192, 192);
}

.weekend {
  background: #f0f0f0;
}
.colorPurple.teamHead {
  background-color: rgba(155, 153, 255, 0.3); 
  border-left: 3px solid rgb(155, 153, 255);
}
.colorOrange.teamHead {
  background-color: rgba(255, 167, 104, 0.3);
  border-left: 3px solid rgb(255, 167, 104);
}
.colorPurple.vacation::before{
  background-color: rgb(155, 153, 255);
}
.colorOrange.vacation::before{
  background-color:rgb(255, 167, 104);
}
.colorPurple.member {
  border-left: 3px solid rgb(155, 153, 255);
}
.colorOrange.member {
  border-left: 3px solid rgb(255, 167, 104);
}

.colorPurple.hoverCover{
  background-color: rgba(155, 153, 255, 0.2);
  cursor: pointer;
}
.colorOrange.hoverCover{
  background-color: rgba(255, 167, 104, 0.2);
 cursor: pointer;
}  

.month-picker {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.month {
  width: 270px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.arrowNext,
.arrowPrev {
  padding: 15px;
  transition: all 0.2s;
}

.table {
  max-width: 1320px;
  margin: 0 auto;
}

tbody {
  width: 100%;
}
.body {
  display: block;
  margin-bottom: 30px;
  font-size: 12px;
}

.teamHead {
  width: 100%;
  display: flex;
  
  font-weight: 600;
}
.teamHead-name {
  border-top: 1px solid rgb(192, 192, 192);
}
.teamhead-count{
  display: block;
  padding: 0 4px;
  border-radius: 2px;
  background-color: #9b99ff;
  color: #fff;
  font-size: 12px;
}

.teamHead-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 263px;
  border: 1px solid rgba(126, 126, 126, 0.3);
  border-top: 0px;
  border-left: 3px solid rgb(155, 153, 255);
}


.teamHead .outputItem{
  border: 1px solid rgba(126, 126, 126, 0.3);
  border-left: 0px;
}


.day,
.sumName {
  width: 35px;
  height: 20px;
}
.arrowNext:hover,
.arrowPrev:hover {
  cursor: pointer;
  color: #48ba46;
}
.modal-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 200ms ease-in;
}

.modal-wrapper--hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  min-height: 375px;
  width: 400px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
}

.modal__head {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
}

.modal__title {
  font-weight: bold;
}

.modal__subtitle {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.modal__form {
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
}

.modal__input-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  margin-bottom: 30px;
}

.modal__input-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
}

.modal__input {
  border: none;
  border-bottom: 1px solid #d0d0d0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  transition: 150ms ease-in;
}

.modal__input:focus {
  border-color: black;
  outline: none;
}

.modal__select {
  padding: 12px 15px 11px 15px;
  border: none;
  font-size: 12px;
  line-height: 1.2;
  background-color: #e9e9e9;
  border-radius: 3px;
  border-right: 15px solid #e9e9e9;
}

.modal__select:focus {
  outline: none;
}

.modal__buttons {
  margin-top: 55px;
  margin-left: -30px;
  margin-right: -30px;
  width: calc(100% + 60px);
  padding: 15px 30px 0px 30px;
  border-top: 1px solid #d0d0d0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

.modal__close {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  height: 42px;
  border: none;
  border: 1px solid #d0d0d0;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
}

.modal__close:focus {
  outline: none;
}

.modal__send {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  height: 42px;
  border: none;
  border: 1px solid #48ba46;
  background-color: #48ba46;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.modal__send:focus {
  outline: none;
}

.modal--loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal__loader {
  position: relative;
  font-size: 150px;
  line-height: 1;
  color: rgb(77, 77, 77);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
  width: 130px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  animation: 0.5s ease-in infinite modalLoader;
  transform-origin: center center;
}
.modal__loader--error {
  background-color: red;
  border-radius: 50%;
  color: white;
  animation: none;
  transform: rotate(45deg);
}

@keyframes modalLoader {
  0% {
    transform: rotate(0px);
  }
  80% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.modal__message {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
}
.modal__description-text {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.display-none {
  display: none;
}

.teamHead-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 263px;
  border: 1px solid rgba(126, 126, 126, 0.3);
  padding: 0 19px;
}
.teamHead .outputItem{
  border-top: 1px solid rgba(126, 126, 126, 0.3);
}
.footer__head .outputItem{
  border-top: 1px solid rgba(126, 126, 126, 0.3);
}
.member {
  display: flex;
  transition: 0.5s all;
}

.member .outputItem{
  border: 1px solid rgba(126, 126, 126, 0.3);
  border-left: 0px;
  border-top: 0px;
}

.member-day {
  width: 35px;
  height: 35px;
}
.memberName {
  padding: 5px 15px;
}



.close-item {
    display: none;
}

.hide-member {
  opacity: 0;
}

.borderNone{
  border-top:none;
}

.vacation {
 
  position: relative;
}

.vacation::before {
  position: absolute;
  width: 35px;
  height: 24px;
  background-color: #9B99FF;
  content: " ";
  left: -1px;
  top: 3px;
  border-radius: 3px;
  border: 2px solid transparent;

}

.rotate-block {
  transform: rotate(-180deg);
}
.icon-chevron-down-solid {
  transition: 0.5s all;
  cursor: pointer;
}

.headerDay {
    background: #f0f0f0;
}

.footer__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    margin-top: 18px;
}

.footer__head {
    display: flex;
    background-color: #F3F3F3;
}

.footer__name {
    width: 263px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e2e2e2;
}

.footer__block--countpercent {
    background-color: #48BA46;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    width: 42px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    text-align: left;
    margin-right: auto;
}

.footer-day {
    width: 35px;
    height: 35px;
}

.footer-day .weekend {
    background-color: #F0F0F0;
    
}

.footer__descr {
    margin-top: 29px;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 12px;
    width: 232px;
}
