body {
  font-family: "Open Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

table{
  border-collapse: collapse;
}

.container{
  max-width: 1320px;
  margin: 0 auto;
  border: 1px solid green;
}

#app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chosenMonth {
  font-size: 32px;
  margin-bottom: 5vh;
  margin-top: 5vh;
  text-align: center;
}

thead{
  display: flex;
}

.forButton{
  width: 263px;
  border: none;
  border-right: 1px solid rgb(192, 192, 192);
  border-bottom: 1px solid rgb(192, 192, 192);
}

.outputCalendar {
  display: flex;
}

.outputDay {
  border-bottom: none;
  border-left: none;
  padding: 5px;
  text-align: center;
  color: rgb(33, 33, 33);
  font-size: 12px;
}

.outputDate {
  text-align: center;
  color: rgb(56, 56, 56);
  font-size: 14;
}

.outputItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 33px;
  padding: 8px 6px;
  border: 1px solid rgb(192, 192, 192);
}
.outputItem:not(:first-of-type) {
  border-left: none;
}

.weekend {
  background: #f0f0f0;
}

.team-body{
  display: flex;
  flex-wrap: wrap;
  background: rgba(155, 153, 255, 0.1);
  margin-top: 34px;
}


.team-body:first-child{
  margin-top: 0;
}

.team-row{
  width: 263px;
  padding: 10px 10px 10px 19px;
  border: 1px solid rgba(126, 126, 126, 0.3);
  border-top: 0px;
}

.team-name{
  font-size: 12px;
  font-weight: 600;
}




.team-day{
  width: 33px;
  border: 1px solid rgba(126, 126, 126, 0.3);
  border-top: 0px;
  border-left: none;
}
.team-member{
  font-size: 12px;
  font-weight: 400;
}

